:root
{
    
    --skin-color: #FF7B02;


/*
    --skin-color: #6717CD;
    --skin-color: #e70b0b;
    --skin-color: #C82471;
    --skin-color: #6bfe09;
    --skin-color: #BC6C25;
    --skin-color: #09814A;
    --skin-color: #bc7325;
    --skin-color: #121619;
    cyan, red, green, blue, purple, pink,
    #C42A03, #420C12, #9F807D, #AAC9CE, #FF7B02
*/
}